<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Workout History | Flexcellent</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.0.2/css/pico.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/master-stylesheet.css" />
        <link rel="stylesheet" href="/css/workout-history-stylesheet.css" />
    </head>

    <body>
        <div class="header">
            <h1 class="neon-glow-text">My Workout History</h1>
        </div>
        <div id="workoutHistoryContainer">
            {{#each result}}
                <div>
                    <div class="card-header">
                        <h2 class="neon-glow-text" id="workoutName"><strong>{{workoutData.name}} - {{format_date workoutData.date_created}}</strong></h2>
                        {{!-- <h3 class="neon-glow-text" id="workoutDate">{{format_date workoutData.date_created}}</h3> --}}
                        <h3 class="neon-glow-text" id="workoutDuration">Workout Duration: {{workoutData.workout_duration}} minutes</h3>
                    </div>
                    <div class="card-body">
                        {{#each exercises}}
                            <h4 id="exerciseHeader">Exercise {{addHelper @index 1}}: {{this.name}}</h4>
                            <ul id="exerciseDetails">
                                <li>Primary Muscle Group: {{this.muscle}}</li>
                                <li>{{this.sets}} Sets of {{this.reps}} Reps</li>
                                <li>Equipment Weight: {{this.equipment_weight}} lbs</li>
                            </ul>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    </body>
</html>
